// config

areaHeight = 240px;

barCore= 2px;
barWidth= 20px;
barHeight= 3px;
barGap= 2px;
stage= 7;

areaSizingW= (barGap *100) + barWidth;
areaSizingH= areaHeight + barHeight;

ballWidth = 10px;

barLine = areaHeight - barHeight * 10;
bound = (areaSizingW - ballWidth);
barBound = bound - ballWidth;
outStage = areaHeight + ballWidth * 2;

// stageTime
t1 = 3s
t2 = 3s
t3= 2s
